<div class="center padded">
    <div class="content padded white-bg">
        <div class="padded">
            <h1>No estas convencido? Mira lo que he construído!</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer app</h3>
                <p>Una aplicación que envia correos utilizando la API de Sengrid.</p>
                <a class='sky-blue' href="#">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Gestor de clientes</h3>
                <p>Una aplicación para gestionar mis clientes.</p>
                <a class='sky-blue' href="{{ url_for('static', filename='libreta-clientes.exe') }}">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Gestor de tareas</h3>
                <p>Una aplicación para gestionar mis tareas.</p>
                <a class='sky-blue' href="{{ url_for('static', filename='db.exe') }}">Link aquí</a>
            </div>
        </div>
    </div>
</div>